.scrollbar{
    scrollbar-width: 6px;
    scrollbar-color: #A31C45 #2A2C47;
}


.scrollbar::-webkit-scrollbar {
    width: 6px;
    background: #2A2C47;
    
    border-radius: 100px;
}
.scrollbar::-webkit-scrollbar-thumb {
    height: 30px;
    background: #a31c45b0;
    border-radius: 100px;
}
